{% extends "header.html" %}

{% block title %}运维后台{% endblock %}
{% block contents %}
<td class="content">
<div class="bm_h cl"></div>
<div class="path">
<a href="#">系统信息</a>
<em>&rsaquo;</em> <a href="#">CPU信息</a></div>
<div class="bm">
    <div id="dataTable">
    <div class="title1">查询方式:</div>
    <form action="/infosys/cpu/" method="post">
    <span class="spt_1 b">IP：</span>
    <input class="f_inp" size="20" type="text" name="ipname" />
    <button type="submit" class="pnc pn"><span>查询</span></button>
    </form>
<div class="title2">服务器列表:</div>
<div class="contbox mbn">
<table id="sortTable1">
        <thead>
            <tr>
                <th width="45">IP</th>
                <th class="hc" width="130">CPU信息</th>
                <th class="hc" width="40">CPU核数*个数</th>
					 <th class="hc" width="30">CPU主频</th>
                <th class="hc" width="15">操作</th>
            </tr>
        </thead>
        {% for cpu in cpu %}
            <tr>
                <td>{{ cpu.ip.ip }}</td>
                <td class="hc"><span>{{ cpu.mname }}</span></td>
                <td class="hc"><span>{{ cpu.mcores }}</span></td>
					 <td class="hc"><span>{{ cpu.mclockspeed }}</span></td>
                <td class="hc"><a href ="#">查看</a></td>
            </tr>
        {% endfor %}
</table>
<div>
{% if cpu.has_previous %}
	<a href="?page={{ cpu.previous_page_number }}">&lt; 上一页</a>
{% endif %}
<span>
{% for p in page_range %}
	{% ifequal p cpu.number %}
	<span class="current">{{p}}</span>
{% else %}
	<a href="?page={{p}}" title="第{{p}}页">{{p}}</a>
{% endifequal %}
{% endfor %}
</span>
{% if cpu.has_next %}
	<a href="?page={{ cpu.next_page_number }}">下一页&gt; </a>
{% endif %}
	<a >[第{{ cpu.number }}/{{ cpu.paginator.num_pages }}页]</a>
</div>
</div>
</div>
</div>
</td>
{% endblock %}
