<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% if request.session.name %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/media/css/common.css?v=40" /><link type="text/css" href="/media/css/smoothness.datepick.css" rel="stylesheet" /><script type="text/javascript" language="javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="/media/js/common.js?v=25"></script>
</head>
<body  onload=startclock()>
<div id="appendParent"></div>
<div class="wrap">
        <div id="header">
        <h1><span>运维后台</span></h1>
		<div id="menu">
				欢迎您,<span id="navSiteMasterName">{{ request.session.name }}</span>
				&nbsp;&nbsp;[ <a href="/quit/">退出</a> ]
		</div>
    </div>    <div class="main mt_2">
		<table class="mainframe">
   		<tr>
     		<td class="side">
      			<div class="bm">
		<ul id="leftFuncMenu" class="nav">
<li id="li_10" class="close_s">
    <a href="javascript:;" onclick="displayMenu(10, 's');"><em></em>系统信息</a>
            <ul>
		<li id="li_1001" class=""><a href="/infosys/hosts" onclick="javascript:return changeFunc(this, 12033481);"><span>主机信息</span></a>
                </li>
                <li id="li_1002" class=""><a href="/infosys/cpu" onclick="javascript:return changeFunc(this, 12033481);"><span>CPU信息</span></a>
                </li>
                <li id="li_1003" class=""><a href="/infosys/disk" onclick="javascript:return changeFunc(this, 12033481);"><span>磁盘信息</span></a>
                </li>
		<li id="li_1005" class=""><a href="/infosys/network" onclick="javascript:return changeFunc(this, 12033481);"><span>网卡信息</span></a>
                </li>
		<li id="li_1006" class=""><a href="/infosys/ipnet" onclick="javascript:return changeFunc(this, 12033481);"><span>IP段管理</span></a>
                </li>
			</ul>
    </li>
<li id="li_11" class="close_s">
    <a href="javascript:;" onclick="displayMenu(11, 's');"><em></em>日志系统</a>
            <ul>
                <li id="li_1101" class=""><a href="/applogsys/serverlog" onclick="javascript:return changeFunc(this, 12033481);"><span>服务日志</span></a>
                </li>
                <li id="li_1104" class=""><a href="/applogsys/loginlog" onclick="javascript:return changeFunc(this, 12033481);"><span>登录日志</span></a>
                </li>
                <li id="li_1105" class=""><a href="/applogsys/faultlog" onclick="javascript:return changeFunc(this, 12033481);"><span>故障日志</span></a>
                </li>
                </ul>
    </li>
<li id="li_12" class="close_s">
    <a href="javascript:;" onclick="displayMenu(12, 's');"><em></em>监控系统</a>
            <ul>
                <li id="li_1201" class=""><a href="/monitorsys/state" onclick="javascript:return changeFunc(this, 12033481);"><span>服务器监控</span></a>
                </li>
                <li id="li_1203" class=""><a href="#" onclick="javascript:return changeFunc(this, 12033481);"><span>服务器报警</span></a>
                </li>
                </ul>
    </li>
<li id="li_13" class="close_s">
    <a href="javascript:;" onclick="displayMenu(13, 's');"><em></em>网络系统</a>
            <ul>
                <li id="li_1301" class=""><a href="/networksys/servicestatus" onclick="javascript:return changeFunc(this, 12033481);"><span>服务状态</span></a>
                </li>
                <li id="li_1303" class=""><a href="/networksys/connect" onclick="javascript:return changeFunc(this, 12033481);"><span>服务器信息</span></a>
				</li>
                </ul>
    </li>
<li id="li_15" class="close_s">
    <a href="javascript:;" onclick="displayMenu(15, 's');"><em></em>资产系统</a>
            <ul>
                <li id="li_1501" class=""><a href="/assetsys/hardinfo/" onclick="javascript:return changeFunc(this, 12033481);"><span>硬件信息</span></a>
                </li>
                <li id="li_1503" class=""><a href="/assetsys/beloneinfo/" onclick="javascript:return changeFunc(this, 12033481);"><span>服务器归属信息</span></a>
                </li>
                </ul>
    </li>
<li id="li_16" class="close_s">
    <a href="javascript:;" onclick="displayMenu(16, 's');"><em></em>用户系统</a>
            <ul>
                <li id="li_1601" class=""><a href="/user/base/" onclick="javascript:return changeFunc(this, 12033481);"><span>基本信息</span></a>
                </li>
                <li id="li_1602" class=""><a href="/user/uadmin/" onclick="javascript:return changeFunc(this, 12033481);"><span>账号管理</span></a>
                </li>
                <li id="li_1602" class=""><a href="#" onclick="javascript:return changeFunc(this, 12033481);"><span>用户操作记录</span></a>
				</li>
                </ul>
    </li>
<script>

var closeLiId = _cookie.get("closeLiId");
if(closeLiId != null){
	$("li[class=open_s], li[class=close_s]").each(function(){
		if(closeLiId.indexOf($(this).attr("id").replace("li_", "")) > -1){
        	$(this).attr("class", "close_s");
        }
    	else{
    		$(this).attr("class", "open_s");
       	}
   	});
}

$("li[class=open_s] a, li[class=close_s] a").click(function(){

	var closeLiId = "";
	$("li[class=close_s]").each(function(){
		closeLiId +=  $(this).attr("id").replace("li_", "") + ",";
	});

	if(closeLiId != "")
		closeLiId = closeLiId.substring(0, closeLiId.length - 1);

	_cookie.saveCookie("closeLiId", closeLiId, null, "monitor.sinashow.com");

	
});

</script> 
 </ul></div></td>

        {% block contents %}
        {% endblock %}


</tr></table>
</div></div>
</body>
{% else %}
<body>
<script>
	alert('请正确登录运维后台!');
	window.location.href="/index/";
</script>
</body>
{% endif %}
</html>
		
