{% extends "header.html" %}
{% block title %}运维后台{% endblock %}
{% block contents %}
<td class="content">
<div class="bm_h cl"></div>
<div class="path">
<a href="#">日志系统</a>
<em>&rsaquo;</em> <a href="#">登录日志</a></div>
<div class="bm">
    <div id="dataTable">
<div class="contbox mbn">
  <table width="650" border="1">
    <tr>
      <th width="130">访问主机</th>
      <th width="130">目标主机</th>
      <th width="130">访问用户</th>
      <th width="130">登录时间</th>
      <th width="130">退出时间</th>
    </tr>
    <tr>
      <td>192.168.122.122</td>
      <td>192.168.122.122</td>
      <td>root</td>
      <td>2012-02-23</td>
      <td>2012-02-23</td>
    </tr>
    <tr>
      <td>192.168.122.122</td>
      <td>192.168.122.122</td>
      <td>root</td>
      <td>2012-02-23</td>
      <td>2012-02-23</td>
    </tr>
    <tr>
      <td>192.168.122.122</td>
      <td>192.168.122.122</td>
      <td>root</td>
      <td>2012-02-23</td>
      <td>2012-02-23</td>
    </tr>
    <tr>
      <td>192.168.122.122</td>
      <td>192.168.122.122</td>
      <td>root</td>
      <td>2012-02-23</td>
      <td>2012-02-23</td>
    </tr>
  </table>
  <p>
</div>
 </div>
</div>
</td>
{% endblock %}
