{% extends "header.html" %}

{% block title %}运维后台{% endblock %}
{% block contents %}
<td class="content">
<div class="bm_h cl"></div>
<div class="path">
<a href="#">系统信息</a>
<em>&rsaquo;</em> <a href="#">网卡信息</a></div>
<div class="bm">
    <div id="dataTable">
	 <div class="title1">查询方式:</div>
	 <form action="/infosys/network/" method="post">
    <span class="spt_1 b">IP：</span>
    <input class="f_inp" size="20" type="text" name="ipname" />
    <button type="submit" class="pnc pn"><span>查询</span></button>
    </form>
<div class="title2">服务器列表:</div>
<div class="contbox mbn">
<table id="sortTable1">
        <thead>
            <tr>
                <th width="55">IP</th>
                <th class="hc" width="55">内网地址</th>
                <th class="hc" width="55">机器掩码</th>
				    <th class="hc" width="35">网卡MTU</th>
				    <th class="hc" width="50">网卡驱动</th>
					 <th class="hc" width="50">网卡型号</th>
                <th class="hc" width="15">操作</th>
            </tr>
        </thead>
		  {% for network in network %}
        <tr>
                <td>{{ network.ip.ip }}</td>
                <td class="hc"><span>{{ network.mname }}</span></td>
                <td class="hc"><span>{{ network.mmask }}</span></td>
                <td class="hc"><span>{{ network.mmtu }}</span></td>
                <td class="hc"><span>{{ network.mdrive }}</span></td>
                <td class="hc"><span>{{ network.mmodel }}</span></td>
                <td class="hc"><a href ="#">查看</a></td>
        </tr>
		  {% endfor %}
</table>
<div>
{% if network.has_previous %}
	<a href="?page={{ network.previous_page_number }}">&lt; 上一页</a>
{% endif %}
<span>
{% for p in page_range %}
	{% ifequal p network.number %}
	<span class="current">{{p}}</span>
{% else %}
	<a href="?page={{p}}" title="第{{p}}页">{{p}}</a>
{% endifequal %}
{% endfor %}
</span>
{% if network.has_next %}
	<a href="?page={{ network.next_page_number }}">下一页&gt; </a>
{% endif %}
	<a >[第{{ network.number }}/{{ network.paginator.num_pages }}页]</a>
</div>
</div>
 </div>
</div>
</td>
{% endblock %}
