{% extends "header.html" %}


{% block title %}网络系统{% endblock %}


{% block contents %}
<style>
#checkin{ width: 100px;height: 30px;float:left;	position: relative;top: 10px; }
#ser{ color: black;position: relative;left: 430px;bottom: 20px; }	
#netctrl{ width: 100px;position: relative;	left: 515px;bottom: 40px; }
</style>

<script type="text/javascript">
function checkall(){
	var checkboxs = document.getElementsByName('checkin');
	var j = checkboxs.length;
	for(var i=0; i < j; i++){
		checkboxs[i].checked = true;	
	}
}

function del(){
	var checkboxs = document.getElementsByName('checkin');
	var j = checkboxs.length;
	for(var i=0; i < j; i++){
		checkboxs[i].checked = false;	
	}
}

</script>
<td class="content">
<div class="bm_h cl"></div>
<div class="path">
<a href="#">网络系统</a>
<em>&rsaquo;</em> <a href="#">服务状态</a></div>

<div class="title1">查询方式:</div>
<form action='/networksys/servicestatus/' method='POST'>
<span class="spt_1 b">ip地址:</span>
<input class="f_inp" size="20" type="text" name="ipaddr" />
<button type="submit" class="pnc pn"><span>查询</span></button>
</form>
<div class="title2">概要内容:</div>
<div class="bm">
<div id="dataTable">    
<div class="contbox mbn">
    <div id="main">
        <table border="1px" >
		
			<tr>
			
				<th width="50">ip地址</th>
				
				<th class="hc" width="40">服务名称</th>		
			
				<th class="hc" width="30">pid</th>		
		
				<th class="hc" width="30">端口</th>	
		
				<th class="hc" width="30">状态</th>
				
				
		
			</tr>
			

			{% for i in status %}
			<tr>
				<td>{{ i.ip.ip }}</td>	
				<td>{{ i.service_name }}</td>	
				<td>{{ i.service_pid }}</td>	
				<td>{{ i.service_port }}</td>	
				<td>
				{% if i.service_status == '0' %}
					{{ 'stop' }}
				{% else %}
					{{ 'running' }}
				{%  endif %}
				</td>
			</tr>	
			{% endfor %}		
			
			
			
		
		</table>
		
        </div>
    </div>
</div>
 </div>
</div>
</td>
{% endblock %}
