{% extends "header.html" %}
<script src="/media/js/jquery.js" language="javascript"  type="text/javascript" ></script>
<script src="/media/js/jquery.flot.js" language="javascript"  type="text/javascript" ></script>
{% block title %}运维后台{% endblock %}
{% block contents %}

<td class="content">
<div class="bm_h cl"></div>
<div class="path">
<a href="#">报警系统</a>
<em>&rsaquo;</em> <a href="#">报警监控</a></div>

<div class="bm">
<div id="dataTable">
<div class="contbox mbn">

<table id="sortTable1">
        <thead>
            <tr>
                <th class="hc" width="30">IP</th>
                <th class="hc" width="20">网络流量</th>
                <th class="hc" width="20">网络包</th>
				<th class="hc" width="20">CPU使用率</th>
				<th class="hc" width="20">CPU负载</th>
                <th class="hc" width="30">内存使用率</th>
                <th class="hc" width="20">报警阀值</th>
                <th class="hc" width="20">监控图形</th>
            </tr>
        </thead>
            <tr>
                                <td class="hc"><span>Penti</span></td>
                                <td class="hc"><span>Penti</span></td>
                                <td class="hc"><span>2</span></td>
				<td class="hc"><span>4</span></td>
				<td class="hc"><span>4</span></td>
				<td class="hc"><span>4</span></td>
				<td class="hc"><a href ="/monitorsys/alerminfo/?mac=AABBCCDDEEFF">设置</a></td>
				<td class="hc"><a href ="/monitorsys/servermon/?mac=AABBCCDDEEFF">查看</a></td>
            </tr>
            <tr>
            	  <td class="hc"><span>Pent</span></td>
                <td class="hc"><span>Pent</span></td>
                <td class="hc"><span>2</span></td>
				<td class="hc"><span>4</span></td>
				<td class="hc"><span>4</span></td>
				<td class="hc"><span>4</span></td>
				<td class="hc"><a href ="/monitorsys/alerminfo/?mac=AABBCCDDEEFF">设置</a></td>
				<td class="hc"><a href ="/monitorsys/servermon/?mac=AABBCCDDEEFF">查看</a></td>
            </tr>
            <tr>
         		        <td class="hc"><span>Penti</span></td>
                                <td class="hc"><span>Penti</span></td>
                                <td class="hc"><span>2</span></td>
				<td class="hc"><span>4</span></td>
				<td class="hc"><span>4</span></td>
				<td class="hc"><span>4</span></td>
				<td class="hc"><a href ="/monitorsys/alerminfo/?mac=AABBCCDDEEFF">设置</a></td>
				<td class="hc"><a href ="/monitorsys/servermon/?mac=AABBCCDDEEFF">查看</a></td>
            </tr>
            <tr>
               	<td class="hc"><span>192.168.111.112</span></td>
				<td class="hc"><span>3</span></td>
				<td class="hc"><span>2</span></td>
				<td class="hc"><span>4</span></td>
				<td class="hc"><span>4</span></td>			
				<td class="hc"><span>4</span></td>			
				<td class="hc"><a href ="/monitorsys/alerminfo/?mac=AABBCCDDEEFF">设置</a></td>
				<td class="hc"><a href ="/monitorsys/servermon/?mac=AABBCCDDEEFF">查看</a></td>
			</tr>
</table>
</div>
</div>
</div>
</td>

<script LANGUAGE="javascript">
function openwin(){
	window.open ("/monitorsys/alerminfo/", "newwindow", "left=500, height=800, width=500, toolbar=no, menubar=no, scrollbars=yes, resizable=yes, location=no, status=no")
}

</script>

{% endblock %}


