<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/media/css/login.css" rel=stylesheet type=text/css>
<title>登陆</title>
</head>
<body>
<div class="wrap">
  <form action="/infosys" method="get">
   <section class="loginForm">
      <header> 
      <h1>登陆</h1>
      </header>
      <div class="loginForm_content">
       <fieldset>
          <div class="inputWrap">
            <input type="text" name="userName" placeholder="后台账号" autofocus required>
         </div>
	 <div class="inputWrap">
            <input type="password" name="password" placeholder="请输入密码" required>
          </div>
       </fieldset>
       <fieldset>
          <input type="submit" value="登陆">
		</fieldset>
     </div>
    </section>
 </form>
</div>
</body>
</html> 
