{% extends "header.html" %}
{% block title %}点亮Python -- 运维后台{% endblock %}
{% block contents %}
<script type="text/javascript" src="/media/js/jquery.js"></script>  
<script type="text/javascript" src="/media/js/jquery.datepick.js"></script>  
<script type="text/javascript" src="/media/js/jquery.ui.datepicker-zh-CN.js"></script>  
<script type="text/javascript">  
$(function() {  
	var nowdays = new Date();  
	var dateConfig = {  
 		buttonImageOnly: true,        //显示图片的地方有一个突出部分，这个就是隐藏那玩意的  
 		changeFirstDay: false,        //这个参数干什么的呢，星期一是日历的第一个，不可以改动的  
 		numberOfMonths: 1,            //显示二个月，默认一个月  
 		dateFormat: 'yy-mm-dd',       //日期格式  
 		yearRange: '-60:+60'          //前后20年，不过这根minDate是今天有冲突，自己去试吧。  
	};  
 	$('#goodplugin').datepick(dateConfig);   
});  
</script>  
<td class="content">
<div class="bm_h cl"></div>
<div class="path">
<a href="#">用户系统</a>
<em>&rsaquo;</em> <a href="#">账户管理</a></div>
<div class="bm">
    <div id="dataTable">
 
<div id="adduser">
<form action='/user/adduser/' method='POST' >
<table align=center>
{{form.as_table}}
</table>
<p align="center"><input type="submit" value="提交"></p>
</form>
</div>
</div>
</div>



{% endblock %}
