{% extends "header.html" %}


{% block title %}连接数{% endblock %}


{% block contents %}
<style>
#checkin{ width: 100px;height: 30px;float:left;	position: relative;top: 10px; }
#ser{ color: black;position: relative;left: 430px;bottom: 20px; }	
#netctrl{ width: 100px;position: relative;	left: 515px;bottom: 40px; }
</style>

<td class="content">
<div class="bm_h cl"></div>
<div class="path">
<a href="#">网络系统</a>
<em>&rsaquo;</em> <a href="#">连接数</a></div>


<form action='/networksys/connect/' method='POST'>
<div class="title1">查询方式:</div>
<span class="spt_1 b">ip地址:</span>
<input class="f_inp" size="20" type="text" name="ipaddr" />
<button type="submit" class="pnc pn"><span>查询</span></button>
<div class="title2">概要内容:</div>
</form>
<div class="bm">
<div id="dataTable">    
<div class="contbox mbn">
    <div id="main">
        <table border="1px" >
		
			<tr>
			
				<th width="50">IP地址</th>
                		<th class="hc" width="20">连接主机数量</th> 
				<th class="hc" width="150">已开放端口</th>	
                
				
				
		
			</tr>
              {% for i in connects %} 
                <tr>
                 
			<td>{{ i.ip.ip}}</td>	
			<td>{{ i.connections }}</td>	
			<td>{{ i.ports }}</td>		  
		</tr>	
		{% endfor %}	
			
		
		</table>
		
    </div>
</div>
 </div>
</div>
</td>
{% endblock %}
