{% extends "header.html" %}

{% block title %}运维后台{% endblock %}
{% block contents %}
<td class="content">
<div class="bm_h cl"></div>
<div class="path">
<a href="#">系统信息</a>
<em>&rsaquo;</em> <a href="#">磁盘信息</a></div>
<div class="bm">
    <div id="dataTable">
	 <div class="title1">查询方式:</div>
    <form action="/infosys/disk/" method="post">
    <span class="spt_1 b">IP：</span>
    <input class="f_inp" size="20" type="text" name="ipname" />
    <button type="submit" class="pnc pn"><span>查询</span></button>
    </form>
<div class="title2">服务器列表:</div>
<div class="contbox mbn">
<table id="sortTable1">
        <thead>
            <tr>
                <th width="55">IP</th>
                <th class="hc" width="50">磁盘大小*个数</th>
                <th class="hc" width="80">挂载点</th>
					 <th class="hc" width="40">分区大小</th>
					 <th class="hc" width="40">空闲大小</th>
					 <th class="hc" width="40">使用大小</th>
				    <th class="hc" width="30">使用率</th>
                <th class="hc" width="15">操作</th>
            </tr>
        </thead>
				{% for disk in disk %}
                  <tr>
                      <td>{{ disk.ip.ip }}</td>
                      <td class="hc"><span>{{ disk.mcaption }}</span></td>
                      <td class="hc"><span>{{ disk.mfs_name }}</span></td>
                   	 <td class="hc"><span>{{ disk.mfs_size }}</span></td>
							 <td class="hc"><span>{{ disk.mfs_free }}</span></td>
							 <td class="hc"><span>{{ disk.mfs_use }}</span></td>
							 <td class="hc"><span>{{ disk.mfs_used }}</span></td>
                	    <td class="hc"><a href ="#">查看</a></td>
                </tr>
             {% endfor %}
</table>
<div>
{% if disk.has_previous %}
	<a href="?page={{ disk.previous_page_number }}">&lt; 上一页</a>
{% endif %}
<span>
{% for p in page_range %}
	{% ifequal p disk.number %}
	<span class="current">{{p}}</span>
{% else %}
	<a href="?page={{p}}" title="第{{p}}页">{{p}}</a>
{% endifequal %}
{% endfor %}
</span>
{% if disk.has_next %}
	<a href="?page={{ disk.next_page_number }}">下一页&gt; </a>
{% endif %}
	<a >[第{{ disk.number }}/{{ disk.paginator.num_pages }}页]</a>
</div>
</div>
 </div>
</div>
</td>
{% endblock %}
