{% extends "header.html" %}

{% block title %}点亮Python -- 运维后台{% endblock %}
{% block contents %}
<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/jquery.datepick.js"></script>
<script type="text/javascript" src="/media/js/jquery.ui.datepicker-zh-CN.js"></script>
<td class="content">
<div class="bm_h cl"></div>
<div class="path">
<a href="#">资产系统</a>
<em>&rsaquo;</em> <a href="#">归属信息</a><em>&rsaquo;</em> <a href="#">归属信息添加</a>
</div>
<div class="bm">
<div id="dataTable">
<div class="contbox mbn">
<div style="text-align: center">
<form action='/assetsys/fwqgsinsert/' method='POST'>
<table align=center>
{{belone.as_table}}
</table>
<p><input type="submit" value="提交"><input type="button" value="退出" onClick="window.location.href='/assetsys/beloneinfo/';"></p>

</form>
</div>
</div>
</div>
</div>
</div>
</td>
{% endblock %}