{% extends "header.html" %}

{% block title %}点亮Python -- 运维后台{% endblock %}
{% block contents %}
<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/jquery.datepick.js"></script>
<script type="text/javascript" src="/media/js/jquery.ui.datepicker-zh-CN.js"></script>
<td class="content" >
<div class="bm_h cl"></div>
<div class="path">
<a href="#">资产系统</a>
<em>&rsaquo;</em> <a href="#">硬件信息</a><em>&rsaquo;</em> <a href="#">硬件信息查询</a></div>
<div class="bm">
    <div id="dataTable">
<div class="contbox mbn">
<div style="text-align: center">
<div class="contbox mbn">

<table id="sortTable1">
	<thead>
		<tr>
			<th>序列号</th>
			<th>部门</th>
			<th>负责人</th>
			<th>机柜编号</th>
			<th>用途</th>
			<th>上架时间</th>
		</tr>
	</thead>
	{% for v in gssn %}
		<tr>
		{%if i < gssn.count %}
			<td>{{i}}</td>
		{%endif%}
			<td>{{v.SerialNum}}</td>
			<td>{{v.Department}}</td>
			<td>{{v.Competent}}</td>
			<td>{{v.CabinetNum}}</td>
			<td>{{v.Purpose}}</td>
			<td>{{v.AddTime}}</td>

<td>
<a href="{%url assetsysfwqgsup v.SerialNum%}">修改</a>
<p>
<a href="{%url assetsysfwqgsdel v.SerialNum%}" onclick="return confirm('你确认要删除吗?')">删除</a>
</p>
</td>
</tr>
{% endfor %}
</table>
<div>
{% if gssn.has_previous %}
	<a href="?page={{ gssn.previous_page_number }}">&lt; 上一页</a>
{% endif %}
<span>
{% for p in page_range %}
	{% ifequal p gssn.number %}
	<span class="current">{{p}}</span>
{% else %}
	<a href="?page={{p}}" title="第{{p}}页">{{p}}</a>
{% endifequal %}
{% endfor %}
</span>
{% if gssn.has_next %}
	<a href="?page={{ gssn.next_page_number }}">下一页&gt; </a>
{% endif %}
	<a >[第{{ gssn.number }}/{{ gssn.paginator.num_pages }}页]</a>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
{% endblock %}