{% extends "header.html" %}
{% block title %}运维后台{% endblock %}
{% block contents %}
<td class="content">
<div class="bm_h cl"></div>
<div class="path">
<a href="#">日志系统</a>
<em>&rsaquo;</em> <a href="#">服务日志</a></div>
<div class="bm">
    <div id="dataTable">
<div class="contbox mbn">
  
  <table id="sortTable1">
  <thead>
  <tr>
    <th width="146">域名</th>
    <th width="162">IP地址</th>
    <th width="98">流量</th>
    <th width="98">浏览次数</th>
    <th width="53">500</th>
    <th width="53">504</th>
    <th width="53">302</th>
    <th width="53">404</th>
    </tr>
    </thead>
  <tr>
    <td rowspan="3">baidu.com</td>
    <td>192.168.122.100</td>
    <td>110MB</td>
    <td>440222</td>
    <td>10%</td>
    <td>20%</td>
    <td>20%</td>
    <td>50%</td>
    </tr>
  <tr>
    <td>192.168.1.1</td>
    <td>110MB</td>
    <td>440222</td>
    <td>10%</td>
    <td>20%</td>
    <td>20%</td>
    <td>50%</td>
    </tr>
  <tr>
    <td>192.168.1.1</td>
    <td>110MB</td>
    <td>440222</td>
    <td>10%</td>
    <td>20%</td>
    <td>20%</td>
    <td>50%</td>
    </tr>
  <tr>
    <td rowspan="3">sina.com.cn</td>
    <td>192.168.1.1</td>
    <td>110MB</td>
    <td>440222</td>
    <td>10%</td>
    <td>20%</td>
    <td>20%</td>
    <td>50%</td>
    </tr>
  <tr>
    <td>192.168.1.1</td>
    <td>110MB</td>
    <td>440222</td>
    <td>10%</td>
    <td>20%</td>
    <td>20%</td>
    <td>50%</td>
    </tr>
  <tr>
    <td>192.168.1.1</td>
    <td>110MB</td>
    <td>440222</td>
    <td>10%</td>
    <td>20%</td>
    <td>20%</td>
    <td>50%</td>
    </tr>
  <tr>
    <td rowspan="3">sohu.com</td>
    <td>192.168.1.1</td>
    <td>110MB</td>
    <td>440222</td>
    <td>10%</td>
    <td>20%</td>
    <td>20%</td>
    <td>50%</td>
    </tr>
  <tr>
    <td>192.168.1.1</td>
    <td>110MB</td>
    <td>440222</td>
    <td>10%</td>
    <td>20%</td>
    <td>20%</td>
    <td>50%</td>
    </tr>
  <tr>
    <td>192.168.1.1</td>
    <td>110MB</td>
    <td>440222</td>
    <td>10%</td>
    <td>20%</td>
    <td>20%</td>
    <td>50%</td>
    </tr>
</table>
</div>
 </div>
</div>
</td>
{% endblock %}
