<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>修改用户信息</title>
<style>

 body { background: #F8F8FA url(../images/bg.jpg) repeat-x 0 65px; }

    table { empty-cells: show; border-collapse: collapse; }
</style>

</head>
<body >

<form method="POST">
<table summary="" >
<tr><td>原密码：</td><td><input type="password" name="old"></td></tr>
<tr><td>新密码：</td><td><input type="password" name="new"></td></tr>
<tr><td>确认密码：</td><td><input type="password" name="again"></td></tr>
<tr><td>性别：</td><td></td></tr>
<tr><td>邮箱：</td><td></td></tr>
<tr><td>电话：</td><td></td></tr>
<tr><td>头像：</td><td></td></tr>
</table>
</form>


</body>
</html>