{% extends "header.html" %}

{% block title %}点亮Python -- 运维后台{% endblock %}
{% block contents %}
<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/jquery.datepick.js"></script>
<script type="text/javascript" src="/media/js/jquery.ui.datepicker-zh-CN.js"></script>
<td class="content" >
<div class="bm_h cl"></div>
<div class="path">
<a href="#">资产系统</a>
<em>&rsaquo;</em> <a href="#">硬件信息</a><em>&rsaquo;</em> <a href="#">硬件信息查询</a></div>
<div class="bm">
    <div id="dataTable">
<div class="contbox mbn">
<div style="text-align: center">
<div class="contbox mbn">

<table id="sortTable1">
	<thead>
		<tr>
			<th>序列号</th>
			<th>型号</th>
			<th>CPU型号</th>
			<th>内存/数量</th>
			<th>硬盘/数量</th>
			<th>内部编号</th>
			<th>采购日期</th>
			<th>操作</th>
		</tr>
	</thead>
	{% for v in seasn %}
		<tr>
			<td>{{v.SerialNum}}</td>
			<td>{{v.ModelNum}}</td>
			<td>{{v.Cpu}}</td>
			<td>{{v.Memory}}/{{v.MemNum}}</td>
			<td>{{v.Hdisk}}/{{v.HdNum}}</td>
			<td>{{v.InternalNum}}</td>
			<td>{{v.DatePurchese}}</td>

<td>
<!--<a href ="javascript:void(0);" onclick="upwin(v.SerialNum)" class="add"><span>修改</span></a>-->
<a href="{%url assetsysuphdinfo v.SerialNum%}">修改</a>
<p>
<!--<input type="button" value="删除" onClick="window.location.href='/assetsys/hdinfodel/{{v.SerialNum}}';"/>-->
<a href="{%url assetsyshdinfodel v.SerialNum%}" onclick="return confirm('你确认要删除吗?')">删除</a>
</p>
</td>
</tr>
{% endfor %}
</table>
<div>
{% if seasn.has_previous %}
	<a href="?page={{ seasn.previous_page_number }}">&lt; 上一页</a>
{% endif %}
<span>
{% for p in page_range %}
	{% ifequal p seasn.number %}
	<span class="current">{{p}}</span>
{% else %}
	<a href="?page={{p}}" title="第{{p}}页">{{p}}</a>
{% endifequal %}
{% endfor %}
</span>
{% if seasn.has_next %}
	<a href="?page={{ seasn.next_page_number }}">下一页&gt; </a>
{% endif %}
	<a >[第{{ seasn.number }}/{{ seasn.paginator.num_pages }}页]</a>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
{% endblock %}